body{
  background-color: #ebe9e9;
  padding-bottom: 43px;
}
.main-navbar{
  position: fixed;
  z-index: 2;
}
.right-side-comp{
  background-color: white;
  padding: 40px;
}
.navbar-name{
  display: inline;
  font-size: 19px;
  margin-left: 17px;
  margin-top: 20px;
}
.navbar-hamburger{
  margin-top: -5px;
  margin-left: 20px;
  
}
.navbar-top-left{
  padding-top: 10px;
  display: inline-block;
  width: 100vw;
  height: 53px;
  border-bottom: solid;
  border-width:2px;
  border-color: #cccccc;
  background-color: white;

}
